<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">TOO115</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Departamento.hbm.xml"/>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Usuario.hbm.xml"/>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Biblioteca.hbm.xml"/>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Persona.hbm.xml"/>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Recurso.hbm.xml"/>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Municipio.hbm.xml"/>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Subcategoria.hbm.xml"/>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Categoria.hbm.xml"/>
    <mapping resource="com/ues/too115/sistemabibliotecariomaven/models/Prestamo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
